<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Spring Sand</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	</head>
	<body>
		<section class="container">
			<section>
				<h2>Details of the lake</h2>
			</section>
			<section style="text-align:right">
				<a href="#" th:href="@{/lakes}">Back to the list</a>
			</section>
			<section>
				<div class="rows" th:object="${lake}">
					<div class="row-sbs">
						<div class="col head-col">name</div>
						<div class="col" th:text="*{name}">lake</div>
					</div>
					<div class="row-sbs">
						<div class="col head-col">location</div>
						<div class="col" th:text="*{location}">from</div>
					</div>
					<div class="row-sbs">
						<div class="col head-col">area</div>
						<div class="col"><span th:text="*{area}">123</span><span>km2</span></div>
					</div>
				</div>
			</section>
			<section>
				<a class="ope" href="#" th:href="@{/lakes/{id}/edit(id=*{id})}">Edit</a>
				<form class="ope-form" th:action="@{/lakes/{id}/delete(id=*{id})}" th:method="post">
					<a class="ope" href="javascript:void(0);" onclick="jsConfirmAndSubmit(this, '削除')">Del</a>
				</form>
			</section>
		</section>
		<script type="text/javascript" th:src="@{/js/script.js}"></script>
	</body>
</html>
