<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{partial/layout}">
	<head>
		<!--/*-->
		<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
		<!--*/-->
	</head>
	<body>
		<div class="main-content" layout:fragment="contents">
			<section>
				<h1>List of lakes</h1>
				<div th:if="${lakes.size} <= 0">
					<p>Sorry, we have no lakes for now.</p>
				</div>
				<div th:if="${lakes.size} > 0">
					<div class="rows">
						<div class="row-4 head-row">
							<div class="col">name</div>
							<div class="col">location</div>
							<div class="col">area</div>
							<div class="col">operation</div>
						</div>
						<div class="row-4" th:each="lake: ${lakes}" th:object="${lake}">
							<div class="col">
								<a href="#" th:href="@{/lakes/{id}(id=*{id})}" th:text="${lake.name}">lake1</a>
							</div>
							<div class="col" th:text="${lake.location}">in</div>
							<div class="col"><span th:text="${lake.area}">123</span><span>km2</span></div>
							<div class="col">
								<a class="ope" href="#" th:href="@{/lakes/{id}/edit(id=*{id})}">Edit</a>
								<form class="ope-form" th:action="@{/lakes/{id}/delete(id=*{id})}" th:method="post">
									<a class="ope" href="javascript:void(0);" onclick="jsConfirmAndSubmit(this, '削除')">Del</a>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div>
				<a class="ope" href="#" th:href="@{/lakes/new}">Add New Lake</a>
			</div>
		</div>
	</body>
</html>
