*,
*::before,
*::after {
	margin:0;
	padding:0;
	font-family: Arial, sans-serif;
}
* {
	box-sizing:border-box
}
}

body {
	font-size: 16px;
}

h1,h2,h3,section {
	margin-bottom: 8px;
}

input[type=submit] {
	font-size: 16px;
	border: none;
}

.container {
	margin: 0 auto;
	max-width: 800px;
	background-color: #f5f5f5;
	padding: 8px 16px;
}

.row-4 {
	/* 4-column row */
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 1fr;
	line-height: 1.6;
}
.head-row {
	border-bottom: 1px solid #000000;
}
.head-row > .col,
.head-col {
	text-transform: capitalize;
	font-weight: bold;
}
.ope {
	text-decoration: none;
	background-color: #336699;
	color: #ffffff;
	padding: 2px 8px;
	border-radius: 3px;
}
.ope:hover {
	background-color: #5b94ce;
}
.ope-form {
	display: inline-block;
}

.row-sbs {
	/* 2-column(side by side) row */
	display: grid;
	grid-template-columns: 8em auto;
}
.row-sbs .col {
	line-height: 1.8;
}

input.with-error {
	border-color: #ff0000;
}
.error-msg {
	font-size: 0.8em;
	color: #ff0000;
}