/* reset and basic tags */
*,
*::before,
*::after {
	margin:0;
	padding:0;
	font-family: Arial, sans-serif;
}

* {
	box-sizing:border-box
}

a {
	text-decoration: none;
}
a:visited {
	color: inherit;
}

body {
	font-size: 16px;
	color: #1f1f1f;
}

h1, h2, h3, section {
	margin-bottom: 8px;
}


/* utility */
.mr-4 {
	margin-right: 4px;
}

.danger {
	color: #ff0000;
}

.success {
	color: #0000ff;
}

.hidden {
	display: none;
}

/* button */
.ope {
	background-color: #336699;
	color: #ffffff;
	padding: 2px 8px;
	border-radius: 3px;
	cursor: pointer;
}
a.ope {
	color: #ffffff;	/* a:visitedに勝つ */
}
.ope:hover {
	background-color: #5b94ce;
}

input[type=submit] {
	font-size: 16px;
	border: none;
}

/* layout */
.container {
	margin: 0 auto;
	max-width: 800px;
	background-color: #f5f5f5;
	padding: 8px 16px;
}
.header {
	padding: 4px;
	color: #f5f5f5;
	background-color: #888888;
}
.main {
	padding: 8px;
	background: linear-gradient(#fefefe, #f5f5f5);
}

/* header section */
.header {
	position: relative;
}
.brand {
	padding: 0 4px;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
}
.brand:hover {
	background-color: #777777;
}
.user-info {
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
}
.user-info .avatar {
	height: 32px;
	vertical-align: middle;
	border-radius: 50%;
}
.user-info .logout {
	display: inline-block;
}
.user-info .logout input {
	background-color: #f5f5f5;
	color: #1f1f1f;
	padding: 2px 8px;
	border-radius: 3px;
	cursor: pointer;
}


/* grid */
.row-4 {
	/* 4-column row */
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 1fr;
	line-height: 1.6;
}
.head-row {
	border-bottom: 1px solid #000000;
}
.head-row > .col,
.head-col {
	text-transform: capitalize;
	font-weight: bold;
}
.row-sbs {
	/* 2-column(side by side) row */
	display: grid;
	grid-template-columns: 8em auto;
}
.row-sbs .col {
	line-height: 1.8;
}

/* form */
input.with-error {
	border-color: #ff0000;
}
.input-msg,
.error-msg {
	font-size: 0.8em;
}
.error-msg {
	color: #ff0000;
}
.ope-form {
	display: inline-block;
}

/* paging */
.pager {
	margin: 8px 4px;
	text-align: center;
}
.pager a {
	display: inline-block;
	padding: 0 4px;
	border: 1px solid #333333;
}
.pager a.active {
	background-color: #ff7e7e;
	border-color: #ff0000;
	color: #ffffff;
	font-weight: bold;
	pointer-events: none;
}
.pager a + a {
	margin-left: 8px;
}

/* sorting */
.sorter-wrap {
	text-align: right;
}
select.sorter {
	padding: 4px 8px;
}

/* menu */
ul.menu {
	margin: 8px 4px;
}
ul.menu li {
	margin-left: 8px;
	list-style: none;
	text-decoration: underline;
}
ul.menu li + li {
	margin-top: 4px;
}

.avatar {
	max-width: 100px;
}