.row {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 1fr;
	line-height: 1.6;
}
.head-row {
	border-bottom: 1px solid #000000;
}
.head-row > .col {
	text-transform: capitalize;
	font-weight: bold;
}
.ope {
	text-decoration: none;
	background-color: #336699;
	color: #ffffff;
	padding: 2px 8px;
	border-radius: 3px;
}
.ope:hover {
	background-color: #5b94ce;
}
.ope-form {
	display: inline-block;
}
