<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{partial/layout}">
	<head>
		<!--/*-->
		<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
		<!--*/-->
	</head>
	<body>
		<div class="main-content" layout:fragment="contents" th:object="${valley}">
			<div layout:replace="~{partial/backnav::backnav('valleys')}"></div>
			<section>
				<h1 th:if="*{isNew}">Create a valley</h1>
				<h1 th:unless="*{isNew}">Edit the valley</h1>
				<form th:action="*{isNew} ? @{/valleys} : @{/valleys/{id}(id=*{id})}" method="post">
					<input th:unless="*{isNew}" type="hidden" name="id" th:value="*{id}" />
					<div class="rows">
						<div class="row-sbs">
							<div class="col head-col">Name</div>
							<div class="col">
								<input type="text" name="name" th:value="*{name}"
												   placeholder="谷の名前" required />
							</div>
						</div>
					</div>
					<div class="rows">
						<div class="row-sbs">
							<div class="col head-col"></div>
							<div class="col">
								<input class="ope" type="submit" value="Save" />
							</div>
						</div>
					</div>
				</form>
			</section>
		</div>
	</body>
</html>
