<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{partial/layout}">
	<head>
	</head>
	<body>
		<section layout:fragment="contents">
			<section>
				<h2>List of valleys</h2>
			</section>
			<section>
				<form th:action="@{''}" method="get">
					<input class="mr-4" type="text" name="q" th:value="${q}"/><input class="ope" type="submit" value="Search" />
				</form>
			</section>
			<section th:object="${valleys}">
				<h3>ページング情報(デバッグ用)</h3>
				<p><span>総アイテム数: </span><span th:text="*{totalElements}">1</span></p>
				<p><span>1ページあたりのアイテム数: </span><span th:text="*{size}">1</span></p>
				<p><span>総ページ数: </span><span th:text="*{totalPages}">1</span></p>
				<p><span>いま表示中のページ番号(0オリジン): </span><span th:text="*{number}">1</span></p>
				<p><span>いま表示中のアイテム数: </span><span th:text="*{numberOfElements}">1</span></p>
				<p><span>ソートキー: </span><span th:text="*{sort}">1</span></p>
			</section>
			<section th:if="${valleys.content.size} > 0" th:object="${valleys}">
				<h3>ページングリンク</h3>
				<div class="pager">
					<a th:href="@{${pathWithSort}(page=0)}">最初</a>
					<th:block th:each="i : ${#numbers.sequence(0, valleys.totalPages - 1)}">
						<a th:href="@{${pathWithSort}(page=${i})}" th:text="${i+1}">0</a>
					</th:block>
					<a th:href="@{${pathWithSort}(page=*{totalPages-1})}">最後</a>
				</div>
			</section>
			<section th:object="${valleys}">
				<h3>ソートリンク</h3>
				<ul class="sorter">
					<li><a th:href="@{${pathWithPage}(sort=name)}">Name昇順</a></li>
					<li><a th:href="@{${pathWithPage}(sort='name,desc')}">Name降順</a></li>
					<li><a th:href="@{${pathWithPage}(sort=id,sort='name,desc')}">Id昇順&amp;Name降順</a></li>
				</ul>
			</section>
			<section th:if="${valleys.content.size} <= 0">
				<p>No valleys matched.</p>
			</section>
			<section th:if="${valleys.content.size} > 0">
				<div class="rows">
					<div class="row-4 head-row">
						<div class="col">id</div>
						<div class="col">name</div>
						<div class="col">operation</div>
					</div>
					<div class="row-4" th:each="valley: ${valleys}" th:object="${valley}">
						<div class="col">
							<span th:text="*{id}">1</span>
						</div>
						<div class="col">
							<a href="#" th:href="@{/valleys/{id}(id=*{id})}" th:text="*{name}">valley1</a>
						</div>
						<div class="col">
							<a class="ope" href="#" th:href="@{/valleys/{id}/edit(id=*{id})}">Edit</a>
							<form class="ope-form" th:action="@{/valleys/{id}/delete(id=*{id})}" method="post">
								<a class="ope" href="javascript:void(0);" onclick="jsConfirmAndSubmit(this, '削除')">Del</a>
							</form>
						</div>
					</div>
				</div>
			</section>
			<section>
				<a class="ope" href="#" th:href="@{/valleys/new}">Add New Valley</a>
			</section>
		</section>
	</body>
</html>
