<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Spring Sand</title>
	</head>
	<body>
		<section>
			<h2>Welcome to Spring Sand</h2>
		</section>
		<section>
			<a sec:authorize="isAnonymous()" href="#" th:href="@{/login}">Login</a>
			<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
				<img width="24" th:src="@{/img/{avatarFile}(avatarFile=${#authentication.principal.avatarFile})}" />
				<span th:text="${#authentication.principal.username}">user</span>
				<input type="submit" value="Logout" />
			</form>
		</section>
		<section>
			<h3>Menu</h3>
			<ul>
				<li><a href="#" th:href="@{/rivers}">CRUD of Rivers</a>
				<li><a href="#" th:href="@{/lakes}">CRUD of Lakes</a>
				<li><a href="#" th:href="@{/valleys}">CRUD of Valleys</a>
			</ul>
		</section>
	</body>
</html>
