<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{partial/layout}">
	<head>
	</head>
	<body>
		<section class="main" layout:fragment="contents">
			<p th:if="${param.logout}">ログアウトしました。</p>
			<h3>Menu</h3>
			<ul class="menu">
				<li><a href="#" th:href="@{/rivers}">CRUD of Rivers</a></li>
				<li><a href="#" th:href="@{/lakes}">CRUD of Lakes</a></li>
				<li sec:authorize="isAnonymous() or hasRole('ROLE_ADMIN')">
					<a href="#" th:href="@{/valleys}">CRUD of Valleys</a>
				</li>
				<li sec:authorize="isAnonymous() or hasRole('ROLE_ADMIN')">
					<a href="#" th:href="@{/users}">CRUD of Users</a>
				</li>
			</ul>
		</section>
	</body>
</html>
