<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Spring Sand</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	</head>
	<body>
		<section class="container" th:object="${river}">
			<section>
				<h2 th:if="*{isNew}">Create a river</h2>
				<h2 th:unless="*{isNew}">Edit the river</h2>
			</section>
			<section style="text-align:right">
				<a href="#" th:href="@{/rivers}">Back to the list</a>
			</section>
			<section>
				<form th:action="*{isNew} ? @{/rivers} : @{/rivers/{id}(id=*{id})}" method="post">
					<input th:unless="*{isNew}" type="hidden" name="id" th:value="*{id}" />
					<div class="rows">
						<div class="row-sbs">
							<div class="col head-col">Name</div>
							<div class="col">
								<input type="text" name="name" th:value="*{name}"
												   placeholder="川の名前" required />
							</div>
						</div>
						<div class="row-sbs">
							<div class="col head-col">Source</div>
							<div class="col">
								<input type="text" name="source" th:value="*{source}"
												   placeholder="源流" required />
							</div>
						</div>
						<div class="row-sbs">
							<div class="col head-col">Mouse</div>
							<div class="col">
								<input type="text" name="mouse" th:value="*{mouse}"
												   placeholder="河口" required />
							</div>
						</div>
					</div>
					<div class="rows">
						<div class="row-sbs">
							<div class="col head-col"></div>
							<div class="col">
								<input class="ope" type="submit" value="Save" />
							</div>
						</div>
					</div>
				</form>
			</section>
		</section>
		<script type="text/javascript" th:src="@{/js/script.js}"></script>
	</body>
</html>
